<mat-toolbar color="primary">
  <h1>
    ngImageUpload
  </h1>
  <button mat-button routerLink="/">Home</button>
  <button mat-button routerLink="/about">About</button>
  <button mat-button routerLink="/person">Person</button>
</mat-toolbar>
<router-outlet></router-outlet>
