<b>Consumiendo Servicio Stream</b>
<div *ngIf="(event | async); let evt; else loading">
  <div>ID: {{evt.id}} </div>
  <div>name: {{evt.name}} </div>
  <div>code: {{evt.code}} </div>
</div>
<ng-template #loading>Waiting...</ng-template>
<!--<div>
  <div>ID: {{myObservable.id}} </div>
  <div>name: {{myObservable.name}} </div>
  <div>code: {{myObservable.code}} </div>
</div>
<ng-template #loading>Waiting...</ng-template>-->
